.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  height: 15rem;
}

.container a{
  background-color: #561C24;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 10rem;
  font-size: 1rem;
  margin: 1rem;
}

.container a:hover{
  opacity: 0.8;
  cursor: pointer;
}